<h1 class="title"><%= @company.id %>: <%= @company.name %></h1>

<div class="content is-small">
  <% %i(name tel email address founded_at).each do |attribute| %>
    <h3><%= t "activerecord.attributes.company.#{attribute}" %></h3>
    <p><%= @company.public_send(attribute) %></p>
  <% end %>
</div>
