<h1 class="title">Web::Home#index</h1>

<div class="content is-medium">
  <p>Find me in app/views/web/home/index.html.erb</p>

  <% if current_user %>
    <p>Hello, <strong><%= current_user.username %></strong>!</p>

    <%= link_to "Logout", logout_url, method: :delete, data: { confirm: "Are you sure to logout?" } %>
  <% else %>
      <%= link_to "Login", login_url %>

      <p>or you don't have an account?</p>
      <%= link_to "Sign up", new_user_url %>
  <% end %>
</div>
